<html>
   <head>
       <title>Test page</title>
   </head>
   <body>
       <h1>ansible hostname - {{ansible_hostname}}</h1>
       <h1>inventory hostname - {{inventory_hostname}}</h1>
   </body>
</html>